.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;               
    visibility: hidden;        
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in;  
  }
  
  .popup-overlay.visible {
    opacity: 1;                /* Final state for transition */
    visibility: visible;       /* Show the popup when visible */
  }
  
  .popup-content {
    position: relative;
    transform: scale(0.8);     /* Initial state for scale transition */
    transition: transform 0.3s ease;  /* Transition for smooth scaling */
  }
  
  .popup-overlay.visible .popup-content {
    transform: scale(1);       /* Final state for scale transition */
  }
  
  .close-button {
    position: absolute;
    top: -12px;
    right: -14px;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 100%;
  }

  .playicon{
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    /* background-color: #000; */
    padding: 8px;
    border-radius: 25px;
    transform: translate(-50%, -50%);
  }

  @media (max-width:767px) {
    .pop-video{
      max-width: 492px;
    height: 60vh;
    
    margin: 0px auto;
    width: 100%;
    }
    .popup-overlay.visible .popup-content{
      width: 100%;
      max-width: 515px;
      padding: 20px;
    }
    .close-button{
      top: 4px;
    right: 9px;
    }}