#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
   
  .swiper {
    width: 100%;
    height: 100%;
    
  }
  
  /* .swiper-wrapper{
    margin-left: 15px !important;
  } */

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .client-start{ 
    height: auto !important;
  }
  .client-logo{
    width: 90px !important;
  }